* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #030303;
    color: #71704c;
    display: flex;
    flex-direction: column;
}


.top-header {
    background-color: #b7d63f; /* light green */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#header-logo {
    width: 100px;
    border: #0e2a16 solid 3px;
    height: 80px;
    border-radius: 30%;
    object-fit: cover;
}

#header-text {
    font-size: 3em;
    font-weight: bold;
    color: #5a6e1f;
}

#main-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#main-img{
    width: 60%;
    height: 60%;
    border: 10px solid #242a04; 
}

#other-animals-box {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto 20px auto;
    border: 15px solid #f6f7f2; 
}

nav {
    background-color: #0e2a16; 
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    background-color: #9c9c9c;
    padding: 8px 18px;
    border-radius: 8px;
    border: 3px solid #b7d63f;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li.active {
    border: 3px dotted #ffffff;
}
footer {
    background-color: #0e2a16;
    color: #b7d63f;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
